button {
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    &.primary {
        background-color: #818cf8;
        color: #fff;
        
        &:hover {
            background-color: #293653;
        }
    }

    &.secondary {
        background-color: #f9fafb;
        color: #0f172a;

        &:hover {
            background-color: #cecece;
        }
    }

    &.tertiary {
        background-color: #ffeb3b;
        color: #333;

        &:hover {
            background-color: #ffeb3b;
        }
    }

    &.quaternary {
        background-color: #2196f3;
        color: #fff;

        &:hover {
            background-color: #2196f3;
        }
    }

    &.quinary {
        background-color: #ff9800;
        color: #fff;

        &:hover {
            background-color: #ff9800;
        }
    }

    &.outline {
        border: 1px solid #ccc;
        color: #333;

        &:hover {
            background-color: #fff;
            color: #333;
        }
    }

    &.small {
        padding: 0.25rem 0.5rem;
    }

    &.medium {
        padding: 0.5rem 1rem;
    }

    &.large {
        padding: 1rem 1.5rem;
    }
}